.create-page{
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.create-page .create-page-l{
	margin-right: 5px;
}

.create-page .create-page-r{
    width: 96%;
	max-width: 800px;
}


@media screen and (max-width: 415px) {
	.create-page .create-page-l{
		display: none;
	}
}