<div class='hot-blog'>
	<div class="ui secondary segment hot-blog-title">
		<i class="fire icon"></i>热门博文
	</div>
	<ul class='hot-blog-list'>
		<% hotPosts.forEach(function(post){ %>
		<li><a href='/posts/<%= post._id %>'><%= post.title %></a></li>
		<% }) %>
	</ul>
</div>