<div class="nav">
  <div class="ui grid" id="nav">
  	<div id="dimmer"></div>
    <!-- <div class="four wide column"></div> -->
    <div class="sixteen wide column">
      <a href="/posts"><img src="/pic/blog.svg" id="blogImg"></a>
      <h2 style="margin-bottom:200px;color:#777;" id="nav-describe"><%= blog.description %></h2>
      <div id="searchBox"><%- include('search') %></div>
    </div>
  </div>
</div>
 <div id="navFixed"></div>
<script>
	var pathname = window.location.pathname;
		if(pathname == '/posts'){
			window.onload=function(){				
				if(window.innerWidth < 1200 ){
					console.log(document.getElementsByClassName('nav-setting')[0]);
					document.getElementsByClassName('nav-setting')[0].style.position = 'absolute';
				}
			}
	
			window.onscroll = function () {
			   var t = document.documentElement.scrollTop || document.body.scrollTop;
			   // console.log(t);
			   var n = document.getElementById('navFixed').style.display;
			   if( window.innerWidth > 1200){
				   if(t>534 && (n == 'none' || n == '')){
						$("#navFixed").css({"display":"block","position":"fixed"});
						$("#blogImg").css({"position":"fixed","left":"20px","margin-top":"0px","width":"45px"});
				   }else if(t <534 &&  n == 'block'){
						$("#navFixed").css({"display":"none","position":"static"});
						$("#blogImg").css({"position":"static","margin-top":"120px","width":"128px"});
				   }
				}
			} 
		}else{
			$("#navFixed").css({"display":"block","position":"fixed"});
			$("#blogImg").css({"position":"fixed","left":"20px","margin-top":"0px","width":"45px"});
			$("#nav").css({"height":"70px"});
			$("#dimmer").css({"height":"70px"});
			$("#searchBox").css({"display":"none"});
		}
</script>