<div class="nav">
  <div class="ui grid" id="nav">
  	<div id="dimmer"></div>
    <div id="bigHeader" class="sixteen wide column">
      <a href="/posts"><img src="/public/pic/blog.svg" id="blogImg"></a>
      <h2 style="margin-bottom:200px;color:#ddd;" id="nav-describe"><%= blog.description %></h2>
      <div id="searchBox"><%- include('search') %></div>
    </div>
  </div>
</div>
 <div id="navFixed">
 	<a href="/posts"><img src="/public/pic/blog.svg" class="smallBlogImg"></a>
 	<div class="smallSearchBox"><%- include('search') %></div>
 </div>
 
<script>
autoAdaptive();
window.onresize = function(){
	autoAdaptive();
}
function autoAdaptive(){
	var pathname = window.location.pathname;
	if(pathname == '/posts'){
		if( window.innerWidth > 1200){
			$("#navFixed").css({"display":"none","position":"static"});
			$(window).scroll(scrollEvent);
		}else{
			$(window).unbind('scroll', scrollEvent);
			$("#navFixed").css({"display":"block","position":"fixed"});
		}
	}else{
		$("#navFixed").css({"display":"block","position":"fixed"});
		$("#nav").css({"height":"70px"});
		$("#dimmer").css({"height":"70px"});
		$("#searchBox").css({"display":"none"});
		$(".smallBlogImg").css({"display":"block"});
		$(".smallSearchBox").css({"display":"none"});
		$("#bigHeader").css({"display":"none"});
	}
}
function scrollEvent(){
	var t = document.documentElement.scrollTop || document.body.scrollTop;
	var n = document.getElementById('navFixed').style.display;
	if(t>534 && (n == 'none' || n == '')){
		$("#navFixed").css({"display":"block","position":"fixed"});
		$(".smallSearchBox").css({"display":"none"});
	}else if(t <534 &&  n == 'block'){
		$("#navFixed").css({"display":"none","position":"static"});
	}
}
</script>