<div class="post-content" id="<%= post._id %>">
  <div class="ui grid">
      <div class="ui segment" style="width: 100%;">
        <h2 style="border-bottom: 1px solid #ededed;padding-bottom: 30px;">
          <%= post.title %>
        </h2>
        <div class="markdown-body"><%- post.content %></div>
      </div>

  </div>
</div>
