<div class="ui action input">
  <input type="text" placeholder="Search..." id="search">
  <button class="ui icon button" onclick="getPosts()">
    <i class="search icon"></i>
  </button>
</div>

<script>
	function getPosts(){
		var val = document.getElementById('search').value;
		window.location.href = "posts?query="+val;
	}
</script>