<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<!--     <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <title>CShame | 博客</title>
    <link rel="icon" href="/public/pic/blog.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/public/css/semantic.min.css">
    <!--<link rel="stylesheet" href="/css/style.css">-->
    <!--<link rel="stylesheet" href="/css/components/nav.css">-->
    <!--<link rel="stylesheet" href="/css/components/blog-main.css">-->
    <!--<link rel="stylesheet" href="/css/components/components.css">-->
    <!--<link rel="stylesheet" href="/css/github-markdown.css">-->
    <!--<link rel="stylesheet" href="/css/page/create.css">-->
    <link rel="stylesheet" href="/dist/all.min.css">
    <script src="/public/js/jquery-3.1.1.min.js"></script>
    <script src="/public/js/semantic.min.js"></script>

  </head>
  <body>
  <canvas id="c_n9" width="1920" height="990" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;"></canvas>
  <script src="https://files.cnblogs.com/files/jingmoxukong/canvas-nest.min.js"></script>
  <canvas id="c_n11" width="1367" height="959" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;"></canvas>
  <%- include('components/nav') %>
  <%- include('components/nav-setting') %>
  <%- include('components/notification') %>
  