/* ---------- 全局样式 ---------- */

body {
  height: 100%;
  margin: 0 auto;
  /*min-height: 1530px;*/
  /*background: #f5f6f7;*/
  background: url(../public/pic/bg.png);
}

h3 a,h3,h2,h2 a{
  color: #333;
}

h3 a:hover{
  border-bottom: 2px solid #222;
}


.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  /*float: right;*/
}

/* ---------- post-main ---------- */
.post-main{
  margin:0 auto;
  /*width: 96%;*/
  max-width: 1180px;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .post-main .post-r{
    display: none;
  }
}

.post-main .post-r{
    width: 270px;
    margin-left: 10px;
}

.post-main .post-l{
    overflow: auto;
    width: 100%;
}

/* ---------------------------------- */


/* ---------- post-content ---------- */

.post-content .grid{
    margin: 0 auto;
}

.post-content h3 a {
  color: #222 !important;
}

.post-content .tag {
  font-size: 13px;
  margin-right: 5px;
  color: #999;
}

.post-content .tag.right {
  float: right;
  margin-right: 0;
}

.post-content .tag.right a {
  color: #999;
}

/* ---------- right-rail ---------- */
.right-rail{
  margin-left: 50%;
  position: fixed;
  top:200px;
  display: none;
}

@media screen and (max-width: 750px) {
  .right-rail table{
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .right-rail table{
      margin-left: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .right-rail table{
      margin-left: 250px;
  }
}

@media screen and (min-width: 1000px) {
  .right-rail table{
      margin-left: 300px;
  }
}

.right-rail a{
  color:#9a9a9a;
  font-weight: 200;
}

.right-rail a:hover{
  color:#222;
}

.right-rail .active{
  color:#222;
}

/*sign-up*/
@media screen and (min-width: 651px) {
  .sign-up{
    margin:auto;
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  .sign-up{
    margin:auto;
  }
}
@media screen and (max-width: 415px) {
  .sign-up{
      width: 100%
  }
}

.footer{
  height: 250px;
  background: #fff;
  margin-top: 20px;
  border-top: 1px solid #fff;
  position: relative;
}

.footer .imgs{
  display: flex;
  justify-content:center;
  margin-top: 100px;
}

.footer .imgs a{
  color: #000;
}

.footer .imgs i{
  font-size: 50px;
  margin-left: 20px;
}

.footer .imgs i:hover{
  color: #00B5AD;
}

.footer .font{
    text-align: center;
    color: #999;
}