.blog-item{
	width: 850px;
	height:205px;
	border-bottom: 1px solid #e7ecef;
	padding: 30px 0; 
	background: #fff;
	margin: 0 auto;	
}

.blog-item .left{
	width: 150px;
    padding: 0 20px;
    float: left;
}

.blog-item .left .avatar{
	float: left;
	border-radius: 50%;
	width: 60px;
	height:60px;
	margin-left: 12px;
}

.blog-item .left span{
	font-size: 12px;
    color: #333;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    margin-top: 5px;
}

.blog-item >.right{
	border-left: solid 1px #ecf1f3;
    margin-left: 150px;
    padding: 0 20px;
    width: 655px;
    height: 145px;
    position: relative;
}

.blog-item >.right h3 a:hover{
	color: #222;
}

.blog-item >.right .bottom{
	bottom: 0;
	position: absolute;
	font-size: 12px;
	color: #999;
	width: 625px;
}

.blog-item .tag-right{
	float: right;
    margin-right: 0;
}

.blog-item .profile{
	color:#999;
	font-size: 12px;
}


/* --------------hot-blog---------------- */
.hot-blog{
	width: 300px;
	background: #fff;
}

.hot-blog .hot-blog-title{
    height: 50px;
    border-bottom: solid 1px #ebebeb;
    position: relative;
    padding: 0 20px;
    line-height: 50px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    font-family: 'Microsoft YaHei';
    background: #f6f6f6;
}

.hot-blog .hot-blog-list{
    padding: 0 20px 10px;
    margin-top: 0;
}

.hot-blog .hot-blog-list li{
	padding: 15px 0;
    border-bottom: dashed 1px #c6cfd2;
    list-style: none;
}

.hot-blog .hot-blog-list li a{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    color: #333;
}


