/* --------------hot-blog---------------- */
.hot-blog{
	width: 300px;
	background: #fff;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    overflow: hidden;
}

.hot-blog .hot-blog-title{
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.hot-blog .hot-blog-list{
    padding: 0 20px 10px;
    margin-top: 0;
    border-top: 2px solid #00B5AD;
}

.hot-blog .hot-blog-list li{
	padding: 15px 0;
    border-bottom: dashed 1px #c6cfd2;
    list-style: none;
}

.hot-blog .hot-blog-list li a{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    color: #333;
}


