/* ---------- nav ---------- */
.nav >.grid{
  background:url('/pic/bg3.jpg');
  margin:0;
}

@media screen and (min-width: 1901px) {
  .nav> .grid{
    background-repeat: round !important;
  }
}

@media screen and (min-width: 1200px) {
  .nav> .grid{
    height:604px;
  }
}

@media screen and (max-width: 1200px) {
  .nav> .grid{
    height:70px;
  }
}

.nav {
  margin-bottom: 20px;
  color: #999;
  text-align: center;
}

.nav .grid #dimmer{
  width:100%;
  background: rgba(0,0,0,0.8);
  position: absolute;
}

@media screen and (min-width: 1200px) {
  .nav .grid #dimmer{
    height:604px;
  }
}

@media screen and (max-width: 1200px) {
  .nav .grid #dimmer{
    height:70px;
  }
}

.nav #blogImg{
  margin-top:120px;
  z-index:101;
  border-radius: 50%;
  background: linear-gradient(#333451, #BF876E);
}

@media screen and (max-width: 410px){
  .nav #blogImg{
    display: none !important;
  }
}

@media screen and (min-width: 410px) and (max-width: 1200px) {
  .nav #blogImg{
    margin-top: 0 !important;
    width: 45px !important;
    left: 20px !important;
    position: absolute !important;
  }
}

@media screen and (max-width: 1200px) {
  .nav #nav-describe{
    display: none !important;
  }
}

.nav a:hover{
   border-bottom: 0;
}

.nav #blogImg:hover{
  background: #999;
}

@media screen and (max-width: 410px) {
  .nav #searchBox{
    /*margin-left: 50px;*/
    float: left !important;
  }
}


#navFixed{
  height:70px;
  width:100%;
  background:#24292e;
  top:0;
  left:0;
  display:none;
  position:static;
  z-index: 100;
}



/* ---------- nav-setting ---------- */

.nav-setting {
  position: fixed;
  top: 26px;
  z-index: 999;
}

@media screen and (max-width: 1200px) {
  .nav-setting {
      right: 5px;
      position: absolute;
  }
}

@media screen and (min-width: 1200px) {
  .nav-setting {
      right: 30px;
  }
}

.nav-setting >div{
  color:#fff;
}

.nav-setting .ui.dropdown.button {
  padding: 10px 10px 0 10px;
  background-color: #fff !important;
}

@media screen and (max-width: 1200px) {
  .nav-setting .ui.dropdown .icon{
    margin-left: 2px;
  }
}

.nav-setting .icon.bars {
  color: #000;
  font-size: 18px;
}