/* ---------- nav ---------- */
.nav >.grid{
  background:url('/public/pic/bg3.jpg');
  margin:0;
}

@media screen and (min-width: 1901px) {
  .nav> .grid{
    background-repeat: round !important;
  }
}

@media screen and (min-width: 1200px) {
  .nav> .grid{
    height:604px;
  }
}

@media screen and (max-width: 1200px) {
  .nav> .grid{
    height:70px;
  }
}

@media screen and (min-width: 880px) {
  .nav {
    margin-bottom: 20px;
  }
}

.nav {
  color: #999;
  text-align: center;
}

.nav .grid #dimmer{
  width:100%;
  background: rgba(0,0,0,0.8);
  position: absolute;
}

@media screen and (min-width: 1200px) {
  .nav .grid #dimmer{
    height:604px;
  }

  #navFixed{
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .nav .grid #dimmer{
    height:70px;
  }

  .nav #blogImg{
    display: none;
  }
}

.nav #blogImg{
  margin-top:120px;
  z-index:101;
  border-radius: 50%;
  background: linear-gradient(#333451, #BF876E);
}

#navFixed .smallBlogImg{
  width: 45px;
  background: linear-gradient(#333451, #BF876E);
  border-radius: 50%;
  float: left;
  margin-left: 5px;
}

#navFixed .smallSearchBox{
  float: left;
  margin-left: 10px;
}

@media screen and (max-width: 410px){
  #navFixed .smallSearchBox{
    display: none;
  }
}


@media screen and (max-width: 1200px) {
  .nav #nav-describe{
    display: none;
  }
  #navFixed .smallSearchBox{
    display: none;
  }
}

.nav a:hover{
   border-bottom: 0;
}

.nav #blogImg:hover{
  background: #999;
}


#navFixed{
  height:70px;
  width:100%;
  background:#24292e;
  top:0;
  left:0;
  display:none;
  position:static;
  z-index: 100;
  padding-top: 14px;
}



/* ---------- nav-setting ---------- */

.nav-setting {
  position: fixed;
  top: 15px;
  z-index: 999;
}

@media screen and (max-width: 1200px) {
  .nav-setting {
      right: 5px;
      /*position: absolute;*/
  }

  .nav-setting .ui.dropdown .icon{
    margin-left: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-setting {
      right: 30px;
  }
}

.nav-setting .menu .item{
  color:#fff;
}

.nav-setting .menu .active.item {
  color:#fff !important;
}

.nav-setting .menu .item:hover{
  color:#1e70bf !important;
}

.nav-setting .ui.dropdown.button {
  padding: 10px 10px 0 10px;
  background-color: #fff !important;
}


.nav-setting .icon.bars {
  color: #000;
  font-size: 18px;
}